@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color:#243e63;
}
.nav {
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}
.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    

}
.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: white;
    line-height: 1.5px;
    border: none;
    width: auto;
    transition: all 300ms;
}
.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}
.nav__row{
    display: flex;
    justify-content: space-between;
}
.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.row nav__row {
    margin: 0 3px;
}

a {
    display: inline;
    text-decoration: none;
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.nav__logo--img {
    width: 40px;
    height: 40px;
}
.nav__logo--title {
    font-size: 24px;
    margin: 0 12px;
    padding: 2px;
    font-weight: bold;
}
.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

/*

HEADER

*/

.container {
    padding: 96px 0;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__row {
    display: flex;
    justify-content: space-between;
}
.header__description{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.header__description--para{
    margin: 32px 0;
}
.header__email {
    background-color: rgb(253, 252, 252);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    padding: 8px;
    max-width: 500px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin: 32px 0;
}

.header__email--input {
    border: none;
    padding: 12px 20px;
    flex: 1;
    font-size: 16px;
    border-radius: 9999px;
    outline: none;
    position: relative;
  
}
.header__email--btn {
    padding: 12px 24px;
    background-color: #7c3aed;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s ease;
   
}
.header__email--btn:hover {
    background-color: #5b21b6;
}
.header__customers{
    padding-right: 64px;
    margin-top: 16px;
    opacity: 0.5;
}
.header__img--wrapper{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 41.6667%);
}
.header__img {
    max-width: 512px;
    width: 100%;
}


img {
    width: 100%;
}
h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25
}

p {
    line-height: 1.5
}

.header__customers--title{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;

}
.header__customer{
    padding-right: 64px;
    margin-top: 16px;
    opacity: 0.5;
}

/*

FEATURES

*/
#features{
    position: relative;
}
section{
    padding: 0 32;
}

.container{
    padding: 80px 0;
}
.row{
    width: 100;
    max-width: 1200px;
    margin: 0 auto;
}
.row_narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.section__tag{
    text-align: center;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}
.section__title{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height:1.5;
    margin: 16px 0;
    letter-spacing: 0.025;
}
.section__para {
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
}
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;

}
.feature {
    display: flex;
    width: calc(33.333%-32px);
    max-width: 200px;
    justify-content: center;
}
.feature__row {
    display: flex;
    align-items: flex-start;
    gap: 16px
}
.feature__img--wrapper {
    margin-bottom: 16px;
}
.feature__img {
    width: 40px;
    height: 40px;
}

